.addstudentform {
    list-style-type: none;
    padding: 0;
  }
  
  .addstudentform li {
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  /* Styling for the dialog header */
.dialog-header {
  background-color: #f1f1f1; /* Blue background for header */
  color: #000; /* White text color */
  padding: 15px; /* Padding around the header */
  text-align: center; /* Center align text */
  font-size: 1rem; /* Larger font size */
  font-weight: bold; /* Bold text */
  border-radius: 8px 8px 0 0; /* Rounded corners on top */
}

/* Styling for header text */
.dialog-header-text {
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 2px; /* Spacing between letters */
}

/* Styling for the footer buttons container */
.dialog-footer {
  display: flex;
  justify-content: space-around; /* Space between buttons */
  padding: 15px 0; /* Padding for spacing around footer buttons */
  background-color: #f1f1f1; /* Light gray background for footer */
  border-radius: 0 0 8px 8px; /* Rounded corners on bottom */
}

/* Styling for Cancel button */
.cancel-btn {
  color: #757575; /* Gray color */
  font-weight: 600; /* Slightly bold text */
}

/* Styling for Submit button */
.submit-btn {
  /* background-color: #02ccfe; Green background for submit */
  color: white; /* White text */
  font-weight: 600; /* Bold text */
  text-transform: uppercase; /* Uppercase text */
}

/* Hover effect for Submit button */
