<div class="main-content">
    <div>
      <div style="margin-left:80%">
        <h2>Developers</h2>
        <button mat-fab aria-label="Add Developer" (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
  
      <div style="display: flex; justify-content: center; margin: 0 150px;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-hover">
  <!--  table-striped -->
          <!-- Sr.No Column -->
          <ng-container matColumnDef="srNo">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 30px;"> Sr.No </th>
            <td mat-cell *matCellDef="let dev; let i = index" style="padding-left: 30px;"> {{ (pageIndex * pageSize) + (i + 1) }} </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="width: 150px;"> Developer Name </th>
            <td mat-cell *matCellDef="let dev"> {{ dev.name }} </td>
          </ng-container>
  

          <!-- Technologies Column -->
          <!-- <ng-container matColumnDef="technologies">
            <th mat-header-cell *matHeaderCellDef> Skills </th>
            <td mat-cell *matCellDef="let dev">
              {{ getTechnologyNames(dev.technologies).join(', ') }}
            </td>
          </ng-container> -->

          <!-- Technologies Column -->
<!-- <ng-container matColumnDef="technologies">
    <th mat-header-cell *matHeaderCellDef> Skills </th>
    <td mat-cell *matCellDef="let dev">
      <div style="display: flex; flex-wrap: wrap; gap: 5px;">

        <mat-chip *ngFor="let tech of getTechnologyNames(dev.technologies)">
          {{ tech }}
        </mat-chip>
      </div>
    </td>
  </ng-container> -->
  <!-- Technologies Column -->

<ng-container matColumnDef="technologies">
    <th mat-header-cell *matHeaderCellDef> Skills </th>
    <td mat-cell *matCellDef="let dev">
      <div style="display: flex; flex-wrap: wrap;">
        <span *ngFor="let tech of getTechnologyNames(dev.technologies)" class="tech-chip">
          {{ tech }}
        </span>
      </div>
    </td>
  </ng-container>
  
  <!-- Technologies Column -->
<!-- <ng-container matColumnDef="technologies">
    <th mat-header-cell *matHeaderCellDef> Skills </th>
    <td mat-cell *matCellDef="let dev">
      <span matTooltip="{{ getTechnologyNames(dev.technologies).join(', ') }}">
        Hover to view skills
      </span>
    </td>
  </ng-container> -->
  
  
  
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let dev">
              <div style="display: flex; gap: 10px;">
                <button mat-raised-button color="primary" (click)="onUpdate(dev._id)">
                  <mat-icon style="margin-left: 5px;">edit</mat-icon>
                </button>
                <button mat-raised-button color="warn" (click)="onDelete(dev._id)">
                  <mat-icon style="margin-left: 5px;">delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  
  <mat-paginator class="mat-paginator"
    [length]="dataSource.data.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)">
  </mat-paginator>
  