
.main-content {
    margin-left: 100px;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 100px); /* Full viewport height minus space for header and paginator */
    display: flex;
    flex-direction: column;
  }
  
  .technology-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  .technology-table th, .technology-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* button:hover {
    background-color: #ddd;
  } */
  
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 140px;
  }
  /* ---------------table-------------- */

  .mat-elevation-z8 {
    margin: 20px auto; /* Center the table horizontally */
    padding: 0; /* Remove any padding */
    max-width: calc(100% - 100px); /* Leave 50px margin on each side */
    width: auto; /* Allow the table to resize within the max width */
    border-collapse: collapse; /* Ensure proper table alignment */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for better visibility */
    overflow-y: auto;
}

table {
    width: 100%; /* Table takes the full width of its container */ 
}

.mat-paginator {
  background-color: #ecf0f1;
  background: transparent;
  margin-top: 10px;
}

mat-chip {
    background-color: #e0e0e0;
    color: #333;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  mat-chip:hover {
    background-color: #c8c8c8;
  }
  

  .tech-chip {
    background-color: #e0e0e0;
    padding: 5px 10px;
    margin: 4px;
    border-radius: 20px;
    font-size: 14px;
  }
  
  .tech-chip:hover {
    background-color: #e0e0e0;
  }
  